.clearfix {
    clear: both;
}

input.mic-image {
    width: 30px;
    float:right;
    padding-top: 8px;
}

#result {
    overflow-y:scroll; 
    height:550px; 
    padding-left:2px; 
    padding-right:2px;
}

#main-wrapper {
    display: none;
}

.input-field {
    margin-top: 25px;
    border: 2px solid #fff;
}

 /* label underline focus color */
.input-field input {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
 }

.select-wrapper span.caret {
    color: white;
}